# Core functionality - changes here should be rare!
/src/app.py                   @brian1518
/src/backend/database.py      @brian1518
/src/backend/routers/auth.py  @brian1518

# The frontend will need refactored soon to be more object oriented.
/src/static/   @brian1518
